body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(164, 2, 31);
  
}


@import url('https://fonts.googleapis.com/css2?family=Gluten&family=Noto+Sans&display=swap');
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.navbar{
    font-family: "Noto Sans";
    box-shadow: black 0 0 2px;
}
.max-width{
    width: 100% !important;
    align-items: center;
}
.result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 94px 334px;
    font-family: "Noto Sans";
}


.box {
    margin: auto 0;
}
.content {
    margin: 2rem;
    text-align: center !important;
    color: white;
}
.col-md-6 {
    margin: auto;
}
.front-image {
    margin: 1rem;
    width: 80%;
}
.select{
    color: black;
}
a{
    color: black !important;
    text-decoration: none;
    
}
.btn-success{
    font-size: 1.4rem;
    font-weight: 600;
    background-color: white;
    border-radius: 2rem;
}
a.btn {
    margin: 17.5px 25px;
    border: 0 !important;
    margin: 1rem;
}
.btn:hover{
    background-color: black;
    
}
a:hover{
color: whitesmoke !important;
}
.heading{
    margin: 32px 0px 32px 0px !important;
}
button:disabled{
    background-color: rgb(192 174 174) !important;
}
.padd{
    margin : auto;
}
.ifame{
    border-radius: 5px !important;
}
.resName{
    margin:5px auto 15px auto;
    color: white !important;
}
.row{
    margin: 0 !important;
}