body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@import url('https://fonts.googleapis.com/css2?family=Gluten&family=Noto+Sans&display=swap');
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.form-control{
    width: 480px;
}
body{
    background-image: url('images/food.png');
}
.btn{
    font-family: "Noto Sans";
    margin-top: 10px;
}
select{
    font-family: "Noto Sans";
}
.navbar{
    font-family: "Noto Sans";
    box-shadow: black 0 0 2px;
}
label{
     font-size: 1.5rem;
    /* margin-right: .4rem;
    margin-left: 2rem;  */
    font-family: "Gluten";
}
.result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 94px 334px;
    font-family: "Noto Sans";
}
.width{
    width: 480px;
}