{% extends 'base.html' %}
{% block body %}
    
<div class="container center">
  <form method="POST">
    {{ form.csrf_token }}
    <div class="form-group">
      <label for="city">Choose a city: </label>
      {{ form.city(class = "form-control city") }}
    </div>
    <div class="form-group">
      <label for="restaurant">Choose a restaurant: </label>
      {{ form.restaurant(class = "form-control restaurant") }}
    </div>
    <div class="container">

      <input type="submit" class="btn btn-success">
    </div>
</form>
</div>
<div class="result center">
  <!-- <p>1</p>
  <p>2</p>
  <p>3</p>
  <p>4</p>
  <p>5</p> -->
</div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

  
{% endblock body %}
